<div class="row my-4">
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <h3 class="pb-4">Add Employee</h3>
      <hr />
      <div class="mt-3">
        <label>Name:</label>
        <input
          class="form-control is-invalid"
          id="validationServer03"
          aria-describedby="validationServer03Feedback"
          type="text"
          formControlName="name"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            postForm?.get('name')?.touched && !postForm?.get('name')?.valid
          "
        >
          <div
            id="validationServer03Feedback"
            *ngIf="postForm?.get('name')?.errors?.required"
          >
            Name is a mandatory field!
          </div>

          <div
            id="validationServer03Feedback"
            *ngIf="postForm?.get('name')?.errors?.minlength"
          >
            Minimum length should be atleast 6 characters!
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Designation:</label>
        <textarea class="form-control" formControlName="designation"></textarea>
      </div>
      <div style="color: rgb(160, 6, 6)">{{ designationError() }}</div>
      <div class="mb-2">
        <label>Age:</label>
        <input type="text" class="form-control" formControlName="age" />
      </div>
      <div style="color: rgb(160, 6, 6)">{{ ageError() }}</div>
      <div class="mb-2">
        <label>Salary:</label>
        <input class="form-control" formControlName="salary" />
      </div>
      <div style="color: rgb(160, 6, 6)">{{ salaryError() }}</div>
      <div class="my-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!this.postForm.valid"
        >
          Add Employee
        </button>
      </div>
    </form>
  </div>
</div>
